<div class="container">
    <app-user-card class="d-none d-xl-block"></app-user-card>
    <div class="row py-4">
        <div class="col-9">
            <header class="fw-700 f-22">Ongoing Applications</header>
        </div>
        <div class="col-3">
            <i class="fas fa-filter filter-icon float-right"></i>
        </div>
        <div class="col-12">
            <app-applications></app-applications>
        </div>
        <div class="col-12 text-center">
            <a href="#" class="f-16">View all (79)</a>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-3">
            <header class="fw-700 f-22">Opportunities</header>
        </div>
        <div class="col-6 text-center sub-nav justify-content-center d-none d-md-flex">
            <ul>
                <li>
                    <a class="pointer" (click)="setOpportunityFilter('eligible')" [ngClass]="{'activeFilter': opportunityFilter === 'eligible'}">Eligible</a>
                </li>
                <li>
                    <a class="pointer" (click)="setOpportunityFilter('hot')" [ngClass]="{'activeFilter': opportunityFilter === 'hot'}">Hot</a>
                </li>
                <li>
                    <a class="pointer" (click)="setOpportunityFilter('new')" [ngClass]="{'activeFilter': opportunityFilter === 'new'}">New</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <i class="fas fa-filter filter-icon float-right"></i>
        </div>
        <div class="col-12">
            <app-opportunities [filter]="opportunityFilter"></app-opportunities>
        </div>
    </div>
</div>
