<div class="container px-0">
    <div class="card f-14 b-rad-6">
        <div class="card-header bg-white b-rad-6 p-4">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/icons/Group.png" class="w-100">
                </div>
                <div class="mt-4">
                    <header class="f-20 fw-700">Need Help?</header>
                </div>
                <div class="text-muted f-14 mt-2">
                    Do you have a problem and want to consult?
                </div>
                <button class="btn btnPrimary mt-3">Contact Us</button>
            </div>
        </div>
    </div>
</div>