// Buttons
.btn{
    border-radius: 5px;
}

.btn-white {
    background: #fff;
}

.btn-disabled{
    background: #ddd;
    color: #9B9B9B;
}

.btnPrimary {
    min-width: 80px;
    background: #E17908;
    color: #fff;
}

.rounded {
  border-radius: 50px !important;
}

.btn-transparent {
    background: transparent;
    border: none;
    outline: none !important;
    box-shadow: none;
}
