<div class="container root-container">
    <div class="row">
        <div class="col-md-12">
            <header>Notifications</header>
            <hr>
            <ul class="timeline">
                <li>
                    <div class="container m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-9">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            </div>
                            <div class="col-3">
                                <a href="#" class="text-muted notification-age">1 hr</a>
                            </div>
                        </div>
                    </div>
                    
                </li>
                <li>
                    <div class="container m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-9">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-muted notification-age">1 hr</a>
                        </div>
                    </div>
                </div>
                </li>
                <li>
                    <div class="container m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-9">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-muted notification-age">1 hr</a>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>