
<div class="left-nav">
    <div class="header-logo">
        <img src="../../../assets/icons/sunstone-logo.png">
    </div>
    <ul class="nav-list">
        <li>
            <a [routerLink]="['dashboard']" routerLinkActive="router-link-active"><i class="fas fa-home mr-3"></i>Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['profile']" routerLinkActive="router-link-active"><i class="fas fa-user mr-3"></i>Profile</a>
        </li>
        <li>
            <a [routerLink]="['opportunities']" routerLinkActive="router-link-active"><i class="fas fa-briefcase mr-3"></i>Opportunities</a>
        </li>
    </ul>
</div>