
<div class="left-nav d-none d-xl-block">
    <div class="header-logo">
        <img class="img-responsive" src="../../../assets/icons/sunstone-logo.png">
    </div>
    <ul class="nav-list">
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active-link"><i class="fas fa-home mr-3"></i>Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/profile']" routerLinkActive="active-link"><i class="fas fa-user mr-3"></i>Profile</a>
        </li>
        <li>
            <a [routerLink]="['/opportunities']" routerLinkActive="active-link"><i class="fas fa-briefcase mr-3"></i>Opportunities</a>
        </li>
    </ul>
</div>

<div class="d-xl-none">
    <nav class="navbar navbar-light bg-light">
        <div class="row w-100">
            <div class="col-5">
                <img class="img-responsive" src="../../../assets/icons/sunstone-logo.png">
            </div>
            <div class="col-7 notification-bell d-flex align-items-center">
                <span class="notification">
                    <i class="fa fa-bell f-22"></i>
                    <span class="badge">3</span>
                </span>
                <span class="ml-4">
                    <img class="circle-picture" src="../../../assets/icons/user-profile-image.png">
                </span>
            </div>
        </div>
    </nav>
</div>

<div class="d-xl-none">
    <nav class="navbar bottom-nav fixed-bottom">
        <ul class="nav-list">
            <li routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']" ><i class="fas fa-home mr-sm-3 f-20"></i>
                    <span class="d-none d-sm-inline">
                        Dashboard
                    </span>
                </a>
            </li>
            <li routerLinkActive="active-link">
                <a [routerLink]="['/profile']" ><i class="fas fa-user mr-sm-3 f-20"></i>
                    <span class="d-none d-sm-inline">
                        Profile 
                    </span>
                </a>
            </li>
            <li routerLinkActive="active-link">
                <a [routerLink]="['/opportunities']" ><i class="fas fa-briefcase mr-sm-3 f-20"></i>
                    <span class="d-none d-sm-inline">
                        Opportunities
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>