<div class="app-container px-0 mx-0">
  <div class="row">
    <div class="col-xl-2 col-12">
      <app-navbar></app-navbar>
    </div>
    <div class="col-xl-7 col-12 content-container">
      <app-content-layout></app-content-layout>
    </div>
    <div class="col-xl-3 d-none d-xl-block">
      <div class="row px-0 mx-0">
        <div class="col-12 px-0 mx-0">
          <app-notifications></app-notifications>
        </div>
        <div class="col-12 px-0 mx-0 my-3">
          <app-contact-us></app-contact-us>
        </div>
      </div>
    </div>
  </div>
</div>